@charset "ISO-8859-1";

.big-button {
	width:300px;
	height:300px;
}  
table, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
  }  


.medium-button {
	
	width: 100px;
	height: 100px;
}